@page "/about"

<h1>About</h1>

<p>My name is Luis Gustavo Fernandes Ferreira and I am a game developer with expertise in Unreal Engine, C++, and C#. I have been working in the development industry for 4 years and have experience working on a variety of projects.</p>

<p>I am passionate about game development and love the creative process of bringing a game to life. I am always looking for new challenges and opportunities to learn and grow as a developer.</p>

<p>When I'm not working on games, I enjoy playing games and enjoying time with my family.</p>

<p>With a deep passion for games and a strong foundation in game development skills, I am committed to pursuing my dream and making my mark in the games industry.</p>

<p>If you're interested in learning more about my work or would like to get in touch, please don't hesitate to contact me through the information on the Contact page.</p>