@page "/"

<PageTitle>Home</PageTitle>

<div class="jumbotron">
    <h2 class="display-4">Welcome to Luis Gustavo Fernandes Ferreira's Game Development Portfolio!</h2>
    <p class="lead">Here you will find examples of my work as a game developer using Unreal Engine, C++, Blueprints, and other interesting things.</p>
    <hr class="my-4">
    <p>Explore my Portfolio page to see some of the projects I've worked on, or learn more about me on the About page.</p>
    <a class="btn btn-primary btn-lg" href="/portfolio" role="button">View Portfolio</a>
  
</div>
<br/>
<div class="row">
    <div class="col-md-4">
        <h2>Unreal Engine</h2>
        <p>I have extensive experience working with Unreal Engine to create immersive game worlds and engaging gameplay mechanics.</p>
    </div>
    <div class="col-md-4">
        <h2>C++</h2>
        <p>As a seasoned C++ programmer, I have the skills to create high-performance games with complex systems and mechanics.</p>
    </div>
    <div class="col-md-4">
        <h2>C#</h2>
        <p>I also have a strong background in C#, which allows me to create games with intuitive user interfaces and easy-to-understand code.</p>
    </div>
</div>